/* varibles colores (colorcitos de la ud) */
:root {
  --rojo-ud: #8c1919;    /* colores tomados de la editorial ud y todo */
  --dorado-ud: #fdb400;
  --gris-fondo: #f4f7f6;
}

/* Configuracion General */
body {
  font-family: sans-serif;
  background-color: var(--gris-fondo);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* el footer siempre esté abajo */
}

/* Clases personalizadas */
.bg-institucional {
  background-color: var(--rojo-ud) !important;
}

.text-institucional {
  color: var(--rojo-ud) !important;
}

.text-dorado {
  color: var(--dorado-ud);
}

.main-content {
  flex: 1; /* Esto empuja el footer al fondo si hay poco contenido */
}

.container {
  max-width: 1200px; /* La pagina no crecera más de esto */
  margin: 0 auto;    /* La mantiene centrada en la pantalla */
}

/* suavisa los cambios de la tarjeta */
.card-deportiva {
  border-radius: 15px; /* Bordes más redondeados */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  border: 2px solid transparent; /* espacio para el borde */
}

/* El efecto de levantarse y cambio de color con el mouse */
.card-deportiva:hover {
  transform: translateY(-10px); /* Eleva la tarjeta */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* Sombra más profunda */
  border-color: var(--dorado-ud); /* Este es el color amarillo 'warning' de Bootstrap pero no lo uso */
}
/*transicion de la tarjeta*/
.card-atleta {
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
  overflow: hidden;
}

/**/
.card-atleta:hover{
  transform: translateY(-10px);
  shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.foto-atleta{
  height: 200px;
  object-fit: cover; /*foto no se altere*/
  background-color: var(--rojo-ud);
}
